graft docs
graft src
graft ci
graft tests
graft examples

include .bumpversion.cfg
include .coveragerc
include .cookiecutterrc
include .editorconfig

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.md

prune */.ipynb_checkpoints
exclude *.h5
exclude utils2.py


include tox.ini .travis.yml

global-exclude *.py[cod] __pycache__ *.so *.dylib
